#MMM-Questrade {
  max-width: 100%;
  float: right;
}
.qt-table {
  font-size: 18px;
  line-height: 25px;
}

.qt-table th {
  font-weight: 400;
  white-space: nowrap;
}

.qt-table td {
  white-space: nowrap;
  vertical-align: middle;
  padding: 4px 0;
}

.show-border {
  border-bottom: 1px solid #232222;
}

.profit {
  color: green;
}

.loss {
  color: red;
}

.qt-table th,
.qt-table td {
  padding-left: 10px;
  padding-bottom: 2px;
}

.qt-table-container {
  margin-bottom: 10%;
}
